<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Agregar un nuevo producto</title>
</head>
<body>
	Nuevo Producto
	<table>
		<tr>
			<th>
				campo
			</th>
			<th>
				campo
			</th>
			<th>
				campo
			</th>
		</tr>
		<tr>
			<td>
				elemento
			</td>
			<td>
				elemento
			</td>
			<td>
				elemento
			</td>
		</tr>
	</table>
</body>
</html>